.auth-header {
  background-color: #111;
  border-bottom: 2px solid #1976d2;
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(255, 152, 0, 0.3);
}

.auth-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-logo {
  height: 45px;
}

.auth-home-link {
  text-decoration: none;
  color: #1976d2;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.auth-home-link:hover {
  color: #ffffff;
}
